<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mera app hai sale</title>
</head>
<body>
    <h1>Hello</h1>
    <div class="continer">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam doloremque nihil, dicta porro non ut, ad rerum maxime odit, error temporibus pariatur. Veritatis similique repudiandae soluta quis nisi iusto, praesentium cumque voluptatem quibusdam eaque? Reprehenderit rem amet distinctio blanditiis aliquam.
            </p>
        </div>

        <h3>hsdvsdv</h3>
        <p>Lorem ipsum dolor sit.</p>
    </div>
</body>
</html>